

.blue-strip-sec {
    background: #2BD3DD40;
    padding: 40px 0;
    font-family: 'Poppins';
}
section {
    padding: 65px 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

